
{
    "userid": "{{user_id}}",
    "name": "{{name}}",
    "alias": "{{alias}}",
    "mobile": "{{mobile}}",
    "department": {{ department }},
    "position": "{{position}}",
    "gender": "{{gender}}",
    "email": "{{email}}",
    "enable":1,
    "address": "{{address}}"
}
